---
import type { MarkdownInstance } from "astro"
import type { Project } from "../types"

interface Props {
	project: MarkdownInstance<Project>
}

const { frontmatter, url } = Astro.props.project
---

<div
	class="relative text-white bg-[#05091e] border border-slate-300 rounded-sm">
	<div
		class="bg-[50%_35%] text-center relative bg-cover pt-[37.5%]"
		style={`background-image:url(${frontmatter.img})`}>
		<h1
			class="text-xl lg:text-3xl absolute top-0 w-full h-full flex flex-col items-center justify-center m-0 font-black uppercase tracking-widest text-[rgba(5,9,30,0.7)] bg-[rgba(112,128,144,0.7)]">
			{frontmatter.title}
		</h1>
	</div>
	<div class="p-6">
		<p class="desc mt-0 mb-4 text-lg">{frontmatter.description}</p>
		<div class="text-xs lg:text-sm uppercase">
			Tagged:
			{
				frontmatter.tags.map((t) => (
					<div
						class="tag ml-2 inline-block uppercase text-[#eeedc2]"
						data-tag={t}>
						{t}
					</div>
				))
			}
		</div>
		<a
			class="group absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center bg-[rgba(0,0,0,0.25)] no-underline transition-opacity font-bold text-white text-base uppercase opacity-0 hover:opacity-100 focus:opacity-100 focus:border-[rgba(255,255,255,0.625)] foucus:translate-y-0"
			href={url}>
			<span
				class="linkInner rounded-md translate-y-[25%] border-2 border-[rgba(255,255,255,0)] transition-[transform,border-color] duration-[300ms,1s] ease-[cubic-bezier(0,0.4,0.6,1),linear] group-hover:border-[rgba(255,255,255,0.625)] group-hover:translate-y-0"
				>View</span
			>
		</a>
	</div>
</div>
<style>
	.linkInner {
		padding: 0.375em 1em;
		transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1),
			border-color 1s linear;
	}

	.tag:nth-of-type(1n) {
		color: var(--c-green);
	}
	.tag:nth-of-type(2n) {
		color: var(--c-orange);
	}
	.tag:nth-of-type(3n) {
		color: var(--c-blue);
	}
	.tag:nth-of-type(4n) {
		color: var(--c-pink);
	}
</style>
