---
import astro from "../assets/icons/Astro.svg"
import bootstrap from "../assets/icons/Bootstrap.svg"
import git from "../assets/icons/Git.svg"
import javascript from "../assets/icons/JavaScript.svg"
import mongodb from "../assets/icons/MongoDB.svg"
import nextjs from "../assets/icons/NextJS-Dark.svg"
import nodejs from "../assets/icons/NodeJS-Dark.svg"
import postgresql from "../assets/icons/PostgreSQL-Dark.svg"
import python from "../assets/icons/Python-Dark.svg"
import reactjs from "../assets/icons/React-Dark.svg"
import tailwind from "../assets/icons/TailwindCSS-Dark.svg"
import typescript from "../assets/icons/TypeScript.svg"
---

<ul class="grid grid-cols-2 gap-2 lg:gap-5 sm:grid-cols-3">
  <li
    class="transition duration-700 ease-in delay-700 hover:transition hover:duration-700 hover:ease-out flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={javascript}
        alt=""
        height={25}
        width={25}
      />
    </span>
    <p class="text-zinc-200">JavaScript</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={typescript}
        alt=""
        height={25}
        width={25}
      />
    </span>
    <p class="text-zinc-200">TypeScript</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={nodejs}
        alt=""
        height={30}
        width={30}
      />
    </span>
    <p class="text-zinc-200">Node.js</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={reactjs}
        alt=""
        height={30}
        width={30}
      />
    </span>
    <p class="text-zinc-200">React</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={nextjs}
        alt=""
        height={31}
        width={31}
      />
    </span>
    <p class="text-zinc-200">Next.js</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={git}
        alt=""
        height={27}
        width={27}
      />
    </span>
    <p class="text-zinc-200">Git</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={python}
        alt=""
        height={30}
        width={30}
      />
    </span>
    <p class="text-zinc-200">Python</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={postgresql}
        alt=""
        height={35}
        width={35}
      />
    </span>
    <p class="text-zinc-200">PostgreSQL</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={mongodb}
        alt=""
        height={27}
        width={27}
      />
    </span>
    <p class="text-zinc-200">MongoDB</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={astro}
        alt=""
        height={25}
        width={25}
      />
    </span>
    <p class="text-zinc-200">Astro</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={tailwind}
        alt=""
        height={25}
        width={25}
      />
    </span>
    <p class="text-zinc-200">TailwindCSS</p>
  </li>

  <li class="flex items-center gap-4">
    <span
      class="w-11 h-11 flex items-center justify-center border-t border-zinc-700 bg-zinc-800 rounded-full"
      ><img
        class="hover:animate-bounce-slow focus:animate-bounce-slow"
        src={bootstrap}
        alt=""
        height={27}
        width={27}
      />
    </span>
    <p class="text-zinc-200">Bootstrap</p>
  </li>
</ul>
