---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION,SITE_TITLE } from "../config"

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="font-mono">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      @media (min-width: 1200px) {
        .grid {
          grid-template-columns: 2fr;
        }
      }
    </style>
  </head>
  <body class="max-w-4xl bg-[url('/src/assets/circuit-board.svg')] flex flex-col min-h-screen">
    <Header title={SITE_TITLE} />
    <main class="wrapper my-8 flex-grow">
		<div class="text-center my-8">
			<h1 class="text-2xl lg:text-3xl mt-4 font-medium">
				{title}
			  </h1>
		</div>
		<slot />
    </main>
    <Footer />
  </body>
</html>
